<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>AllUsers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        .row {
            min-height: 100vh; /* Задаем минимальную высоту равной 100% высоты окна просмотра */
        }
    </style>

    <style>
        .col-10.bg-light {
            min-height: 100vh; /* Задаем минимальную высоту равной 100% высоты окна просмотра */
        }
    </style>
</head>


<body>
<style>
    .rounded-table {
        border-radius: 10px;
        overflow: hidden;
    }
</style>
<nav class="navbar navbar-dark bg-dark">
    <p class="text-white bg-dark">
        <td th:text="${user.getUsername}"></td>
    </p>
    <br>
    <a class="nav-link active" href="logout">Logout</a>
    <!-- Контент навигационной панели -->
</nav>

<!--<a th:href="@{/user}">user</a>-->
<!--<a th:href="@{/admin}">admin</a>-->

<!--<a th:href="@{/user}" style="display: block;">user</a>-->
<!--<a th:href="@{/admin}" style="display: block;">admin</a>-->

<a th:href="@{/user}" style="display: block;">user</a>
<a th:href="@{/admin}" style="display: block;">admin</a>

<div class="row">
    <div class="col-2">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list"
               href="#user-profile" role="tab" aria-controls="home">User</a>
        </div>
    </div>
    <div class="col-10 bg-light">
        <div class="p-0 mb-0 bg-light text-dark">

            <br>
            <h1>User Panel</h1>
            <br>
            <div class="card col-11">
                <div class="tab-content" id="myTabContent">

                    <table class="table table-striped rounded-table col-md-12">
                        <thead>
                        <tr class="active">
                            <th scope="col">About User</th>
                        </tr>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Surname</th>
                            <th scope="col">Salary</th>
                            <th scope="col">Role</th>
                        </tr>
                        </thead>
                        <tr>
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.surname}"></td>
                            <td th:text="${user.salary}"></td>
                            <td th:text="${user.roles}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<div class="row">
    <div class="col-2">
        <div class="list-group" id="list-tab1" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list1" data-toggle="list"
               href="#list-home" role="tab" aria-controls="home">Главная</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
               href="#user-table" role="tab" aria-controls="profile">Профиль</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
               href="#list-messages" role="tab" aria-controls="messages">Сообщения</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
               href="#list-settings" role="tab" aria-controls="settings">Настройки</a>
        </div>
    </div>
    <div class="col-10">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">1
                текст
            </div>
            <div class="tab-pane fade" id="user-table" role="tabpanel" aria-labelledby="list-profile-list">2 текст
            </div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">3 текст
            </div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">4 текст
            </div>
        </div>
    </div>
</div>


</body>

</html>